In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import LabelEncoder
import hashlib

In [27]:
data=pd.read_csv('sample_dataset.csv')
print(data.head())

   Customer ID      Name    Surname Gender   Birthdate  Transaction Amount  \
0       752858      Sean  Rodriguez      F  2002-10-20               35.47
1        26381  Michelle     Phelps    NaN  1985-10-24             2552.72
2       305449     Jacob   Williams      M  1981-10-25              115.97
3       988259    Nathan     Snyder      M  1977-10-26               11.31
4       764762   Crystal      Knapp      F  1951-11-02               62.21

         Date               Merchant Name     Category
0  2023-04-03               Smith-Russell     Cosmetic
1  2023-07-17      Peck, Spence and Young       Travel
2  2023-09-20                  Steele Inc     Clothing
3  2023-01-11  Wilson, Wilson and Russell     Cosmetic
4  2023-06-13               Palmer-Hinton  Electronics

In [3]:
# get general information about the dataset
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         50000 non-null  int64
 1   Name                50000 non-null  object
 2   Surname             50000 non-null  object
 3   Gender              44953 non-null  object
 4   Birthdate           50000 non-null  object
 5   Transaction Amount  50000 non-null  float64
 6   Date                50000 non-null  object
 7   Merchant Name       50000 non-null  object
 8   Category            50000 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.4+ MB
None

In [4]:
# check for missing values
print(data.isnull().sum())

Customer ID              0
Name                     0
Surname                  0
Gender                5047
Birthdate                0
Transaction Amount       0
Date                     0
Merchant Name            0
Category                 0
dtype: int64

In [5]:
# filter rows where 'Gender' is 'F' or 'M'
data = data[data['Gender'].isin(['F', 'M'])]
# display the updated DataFrame
print(data.head())

   Customer ID     Name    Surname Gender   Birthdate  Transaction Amount  \
0       752858     Sean  Rodriguez      F  2002-10-20               35.47
2       305449    Jacob   Williams      M  1981-10-25              115.97
3       988259   Nathan     Snyder      M  1977-10-26               11.31
4       764762  Crystal      Knapp      F  1951-11-02               62.21
5       576539   Monica   Bartlett      F  2001-10-20               99.14

         Date               Merchant Name     Category
0  2023-04-03               Smith-Russell     Cosmetic
2  2023-09-20                  Steele Inc     Clothing
3  2023-01-11  Wilson, Wilson and Russell     Cosmetic
4  2023-06-13               Palmer-Hinton  Electronics
5  2023-08-24      Tran, Torres and Joyce     Cosmetic

In [6]:
# check for missing values
print(data.isnull().sum())

Customer ID           0
Name                  0
Surname               0
Gender                0
Birthdate             0
Transaction Amount    0
Date                  0
Merchant Name         0
Category              0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 44953 entries, 0 to 49999
Data columns (total 9 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Customer ID         44953 non-null  int64
 1   Name                44953 non-null  object
 2   Surname             44953 non-null  object
 3   Gender              44953 non-null  object
 4   Birthdate           44953 non-null  object
 5   Transaction Amount  44953 non-null  float64
 6   Date                44953 non-null  object
 7   Merchant Name       44953 non-null  object
 8   Category            44953 non-null  object
dtypes: float64(1), int64(1), object(7)
memory usage: 3.4+ MB

In [8]:
# remove duplicate rows if present
data.drop_duplicates(inplace=True)
# display the columns in your DataFrame
print(data.columns)

Index(['Customer ID', 'Name', 'Surname', 'Gender', 'Birthdate',
       'Transaction Amount', 'Date', 'Merchant Name', 'Category'],
      dtype='object')

In [9]:
# convert 'Birthdate' and 'Date' columns to datetime format
data['Birthdate'] = pd.to_datetime(data['Birthdate'])
data['Date'] = pd.to_datetime(data['Date'])
# display the first few rows of the dataset
print(data.head())

   Customer ID     Name    Surname Gender  Birthdate  Transaction Amount  \
0       752858     Sean  Rodriguez      F 2002-10-20               35.47
2       305449    Jacob   Williams      M 1981-10-25              115.97
3       988259   Nathan     Snyder      M 1977-10-26               11.31
4       764762  Crystal      Knapp      F 1951-11-02               62.21
5       576539   Monica   Bartlett      F 2001-10-20               99.14

        Date               Merchant Name     Category
0 2023-04-03               Smith-Russell     Cosmetic
2 2023-09-20                  Steele Inc     Clothing
3 2023-01-11  Wilson, Wilson and Russell     Cosmetic
4 2023-06-13               Palmer-Hinton  Electronics
5 2023-08-24      Tran, Torres and Joyce     Cosmetic

In [10]:
current_date = data['Date'].max()
# calculate age based on 'Birthdate' and current date
data['Age'] = (current_date - data['Birthdate']).dt.days // 365  # Calculating age in years
# display the first few rows of the dataset
print(data.head())

   Customer ID     Name    Surname Gender  Birthdate  Transaction Amount  \
0       752858     Sean  Rodriguez      F 2002-10-20               35.47
2       305449    Jacob   Williams      M 1981-10-25              115.97
3       988259   Nathan     Snyder      M 1977-10-26               11.31
4       764762  Crystal      Knapp      F 1951-11-02               62.21
5       576539   Monica   Bartlett      F 2001-10-20               99.14

        Date               Merchant Name     Category  Age
0 2023-04-03               Smith-Russell     Cosmetic   20
2 2023-09-20                  Steele Inc     Clothing   41
3 2023-01-11  Wilson, Wilson and Russell     Cosmetic   45
4 2023-06-13               Palmer-Hinton  Electronics   71
5 2023-08-24      Tran, Torres and Joyce     Cosmetic   21

In [11]:
data['Name'] = data['Name'].str.lower()
data['Surname'] = data['Surname'].str.lower()

In [12]:
#normalize customer ID
# initialize the MinMaxScaler
scaler = MinMaxScaler()
# Normalize the 'Customer ID' column
data[['Customer ID']] = scaler.fit_transform(data[['Customer ID']])
data = data.rename(columns={'Customer ID': 'Customer_ID'})
# Display the updated DataFrame
print(data.head())

   Customer_ID     Name    Surname Gender  Birthdate  Transaction Amount  \
0     0.752853     sean  rodriguez      F 2002-10-20               35.47
2     0.305430    jacob   williams      M 1981-10-25              115.97
3     0.988262   nathan     snyder      M 1977-10-26               11.31
4     0.764757  crystal      knapp      F 1951-11-02               62.21
5     0.576528   monica   bartlett      F 2001-10-20               99.14

        Date               Merchant Name     Category  Age
0 2023-04-03               Smith-Russell     Cosmetic   20
2 2023-09-20                  Steele Inc     Clothing   41
3 2023-01-11  Wilson, Wilson and Russell     Cosmetic   45
4 2023-06-13               Palmer-Hinton  Electronics   71
5 2023-08-24      Tran, Torres and Joyce     Cosmetic   21

In [13]:
# Hash the 'Name' column
data['Name_Hash'] = data['Name'].apply(lambda x: int(hashlib.sha256(x.encode('utf-8')).hexdigest(), 16) % 10**8)
# Scale the hashed values to a range between 0 and 1
min_value_name = data['Name_Hash'].min()
max_value_name = data['Name_Hash'].max()
data['Name_Normalized'] = (data['Name_Hash'] - min_value_name) / (max_value_name - min_value_name)
# Replace the 'Name' column with the normalized values
data['Name'] = data['Name_Normalized']
# Drop the intermediate columns if needed
data.drop(columns=['Name_Hash', 'Name_Normalized'], inplace=True)
# Display the updated DataFrame with replaced 'Name' column
print(data.head())

   Customer_ID      Name    Surname Gender  Birthdate  Transaction Amount  \
0     0.752853  0.569857  rodriguez      F 2002-10-20               35.47
2     0.305430  0.015687   williams      M 1981-10-25              115.97
3     0.988262  0.023547     snyder      M 1977-10-26               11.31
4     0.764757  0.657960      knapp      F 1951-11-02               62.21
5     0.576528  0.740904   bartlett      F 2001-10-20               99.14

        Date               Merchant Name     Category  Age
0 2023-04-03               Smith-Russell     Cosmetic   20
2 2023-09-20                  Steele Inc     Clothing   41
3 2023-01-11  Wilson, Wilson and Russell     Cosmetic   45
4 2023-06-13               Palmer-Hinton  Electronics   71
5 2023-08-24      Tran, Torres and Joyce     Cosmetic   21

In [14]:
# Hash the 'Surname' column
data['Surname_Hash'] = data['Surname'].apply(lambda x: int(hashlib.sha256(x.encode('utf-8')).hexdigest(), 16) % 10**8)
# Scale the hashed values to a range between 0 and 1
min_value_surname = data['Surname_Hash'].min()
max_value_surname = data['Surname_Hash'].max()
data['Surname_Normalized'] = (data['Surname_Hash'] - min_value_surname) / (max_value_surname - min_value_surname)
# Replace the 'Surname' column with the normalized values
data['Surname'] = data['Surname_Normalized']
# Drop the intermediate columns if needed
data.drop(columns=['Surname_Hash', 'Surname_Normalized'], inplace=True)
# Display the updated DataFrame with replaced 'Surname' column
print(data.head())

   Customer_ID      Name   Surname Gender  Birthdate  Transaction Amount  \
0     0.752853  0.569857  0.306236      F 2002-10-20               35.47
2     0.305430  0.015687  0.053449      M 1981-10-25              115.97
3     0.988262  0.023547  0.209277      M 1977-10-26               11.31
4     0.764757  0.657960  0.410629      F 1951-11-02               62.21
5     0.576528  0.740904  0.047007      F 2001-10-20               99.14

        Date               Merchant Name     Category  Age
0 2023-04-03               Smith-Russell     Cosmetic   20
2 2023-09-20                  Steele Inc     Clothing   41
3 2023-01-11  Wilson, Wilson and Russell     Cosmetic   45
4 2023-06-13               Palmer-Hinton  Electronics   71
5 2023-08-24      Tran, Torres and Joyce     Cosmetic   21

In [15]:
# Replace 'M' with 0 and 'F' with 1 in the 'Gender' column
data['Gender'] = data['Gender'].map({'M': 0, 'F': 1})
# Display the updated DataFrame
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction Amount  \
0     0.752853  0.569857  0.306236       1 2002-10-20               35.47
2     0.305430  0.015687  0.053449       0 1981-10-25              115.97
3     0.988262  0.023547  0.209277       0 1977-10-26               11.31
4     0.764757  0.657960  0.410629       1 1951-11-02               62.21
5     0.576528  0.740904  0.047007       1 2001-10-20               99.14

        Date               Merchant Name     Category  Age
0 2023-04-03               Smith-Russell     Cosmetic   20
2 2023-09-20                  Steele Inc     Clothing   41
3 2023-01-11  Wilson, Wilson and Russell     Cosmetic   45
4 2023-06-13               Palmer-Hinton  Electronics   71
5 2023-08-24      Tran, Torres and Joyce     Cosmetic   21

In [16]:
# Convert 'Birthdate' column to datetime format
data['Birthdate'] = pd.to_datetime(data['Birthdate'])
# Scale the 'Birthdate' values to a range between 0 and 1
min_date = data['Birthdate'].min()
max_date = data['Birthdate'].max()
data['Normalized_Birthdate'] = (data['Birthdate'] - min_date) / (max_date - min_date)
# Replace the 'Birthdate' column with the normalized dates
data['Birthdate'] = data['Normalized_Birthdate']
# Drop the intermediate column if needed
data.drop(columns=['Normalized_Birthdate'], inplace=True)
# Display the updated DataFrame with replaced 'Birthdate' column
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction Amount  \
0     0.752853  0.569857  0.306236       1   0.947368               35.47
2     0.305430  0.015687  0.053449       0   0.578947              115.97
3     0.988262  0.023547  0.209277       0   0.508772               11.31
4     0.764757  0.657960  0.410629       1   0.052632               62.21
5     0.576528  0.740904  0.047007       1   0.929825               99.14

        Date               Merchant Name     Category  Age
0 2023-04-03               Smith-Russell     Cosmetic   20
2 2023-09-20                  Steele Inc     Clothing   41
3 2023-01-11  Wilson, Wilson and Russell     Cosmetic   45
4 2023-06-13               Palmer-Hinton  Electronics   71
5 2023-08-24      Tran, Torres and Joyce     Cosmetic   21

In [17]:
# Reshape the 'Transaction Amount' column and fit_transform to scale between 0 and 1
data[['Transaction Amount']] = scaler.fit_transform(data[['Transaction Amount']])
data = data.rename(columns={'Transaction Amount': 'Transaction'})
# Display the updated DataFrame with normalized 'Transaction Amount'
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction       Date  \
0     0.752853  0.569857  0.306236       1   0.947368     0.010171 2023-04-03
2     0.305430  0.015687  0.053449       0   0.578947     0.037050 2023-09-20
3     0.988262  0.023547  0.209277       0   0.508772     0.002104 2023-01-11
4     0.764757  0.657960  0.410629       1   0.052632     0.019099 2023-06-13
5     0.576528  0.740904  0.047007       1   0.929825     0.031430 2023-08-24

                Merchant Name     Category  Age
0               Smith-Russell     Cosmetic   20
2                  Steele Inc     Clothing   41
3  Wilson, Wilson and Russell     Cosmetic   45
4               Palmer-Hinton  Electronics   71
5      Tran, Torres and Joyce     Cosmetic   21

In [18]:
# Convert 'Date' column to datetime format
data['Date'] = pd.to_datetime(data['Date'])
# Extract month and year to new columns
data['Month'] = data['Date'].dt.month
data['Year'] = data['Date'].dt.year
# Display the updated DataFrame 
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction       Date  \
0     0.752853  0.569857  0.306236       1   0.947368     0.010171 2023-04-03
2     0.305430  0.015687  0.053449       0   0.578947     0.037050 2023-09-20
3     0.988262  0.023547  0.209277       0   0.508772     0.002104 2023-01-11
4     0.764757  0.657960  0.410629       1   0.052632     0.019099 2023-06-13
5     0.576528  0.740904  0.047007       1   0.929825     0.031430 2023-08-24

                Merchant Name     Category  Age  Month  Year
0               Smith-Russell     Cosmetic   20      4  2023
2                  Steele Inc     Clothing   41      9  2023
3  Wilson, Wilson and Russell     Cosmetic   45      1  2023
4               Palmer-Hinton  Electronics   71      6  2023
5      Tran, Torres and Joyce     Cosmetic   21      8  2023

In [19]:
# Encode the 'Merchant Name' column
label_encoder = LabelEncoder()
data['Merchant_Encoded'] = label_encoder.fit_transform(data['Merchant Name'])
# Rescale the encoded values to a range between 0 and 1
data['Normalized_Merchant'] = scaler.fit_transform(data['Merchant_Encoded'].values.reshape(-1, 1))
# Replace the 'Merchant Name' column with the normalized values
data['Merchant Name'] = data['Normalized_Merchant']
# Drop the intermediate columns if needed
data.drop(columns=['Merchant_Encoded', 'Normalized_Merchant'], inplace=True)
data = data.rename(columns={'Merchant Name': 'Merchant_Name'})
# Display the updated DataFrame with replaced 'Merchant Name' column
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction       Date  \
0     0.752853  0.569857  0.306236       1   0.947368     0.010171 2023-04-03
2     0.305430  0.015687  0.053449       0   0.578947     0.037050 2023-09-20
3     0.988262  0.023547  0.209277       0   0.508772     0.002104 2023-01-11
4     0.764757  0.657960  0.410629       1   0.052632     0.019099 2023-06-13
5     0.576528  0.740904  0.047007       1   0.929825     0.031430 2023-08-24

   Merchant_Name     Category  Age  Month  Year
0       0.838761     Cosmetic   20      4  2023
2       0.849377     Clothing   41      9  2023
3       0.974425     Cosmetic   45      1  2023
4       0.667440  Electronics   71      6  2023
5       0.892378     Cosmetic   21      8  2023

In [20]:
# Encode the 'Category' column
data['Category_Encoded'] = label_encoder.fit_transform(data['Category'])
# Rescale the encoded values to a range between 0 and 1
data['Normalized_Category'] = scaler.fit_transform(data['Category_Encoded'].values.reshape(-1, 1))
# Replace the 'Category' column with the normalized values
data['Category'] = data['Normalized_Category']
# Drop the intermediate columns if needed
data.drop(columns=['Category_Encoded', 'Normalized_Category'], inplace=True)
# Display the updated DataFrame with replaced 'Category' column
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction       Date  \
0     0.752853  0.569857  0.306236       1   0.947368     0.010171 2023-04-03
2     0.305430  0.015687  0.053449       0   0.578947     0.037050 2023-09-20
3     0.988262  0.023547  0.209277       0   0.508772     0.002104 2023-01-11
4     0.764757  0.657960  0.410629       1   0.052632     0.019099 2023-06-13
5     0.576528  0.740904  0.047007       1   0.929825     0.031430 2023-08-24

   Merchant_Name  Category  Age  Month  Year
0       0.838761       0.2   20      4  2023
2       0.849377       0.0   41      9  2023
3       0.974425       0.2   45      1  2023
4       0.667440       0.4   71      6  2023
5       0.892378       0.2   21      8  2023

In [21]:
# Rescale the 'Age' values to a range between 0 and 1
data['Normalized_Age'] = scaler.fit_transform(data['Age'].values.reshape(-1, 1))
data['Age'] = data['Normalized_Age']
data.drop(columns=['Normalized_Age'], inplace=True)
# Display the updated DataFrame with normalized 'Age'
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction       Date  \
0     0.752853  0.569857  0.306236       1   0.947368     0.010171 2023-04-03
2     0.305430  0.015687  0.053449       0   0.578947     0.037050 2023-09-20
3     0.988262  0.023547  0.209277       0   0.508772     0.002104 2023-01-11
4     0.764757  0.657960  0.410629       1   0.052632     0.019099 2023-06-13
5     0.576528  0.740904  0.047007       1   0.929825     0.031430 2023-08-24

   Merchant_Name  Category       Age  Month  Year
0       0.838761       0.2  0.052632      4  2023
2       0.849377       0.0  0.421053      9  2023
3       0.974425       0.2  0.491228      1  2023
4       0.667440       0.4  0.947368      6  2023
5       0.892378       0.2  0.070175      8  2023

In [22]:
# Rescale the 'Month' values to a range between 0 and 1
data['Normalized_Month'] = scaler.fit_transform(data['Month'].values.reshape(-1, 1))
# Replace the 'Month' column with the normalized values
data['Month'] = data['Normalized_Month']
# Drop the intermediate column if needed
data.drop(columns=['Normalized_Month'], inplace=True)
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction       Date  \
0     0.752853  0.569857  0.306236       1   0.947368     0.010171 2023-04-03
2     0.305430  0.015687  0.053449       0   0.578947     0.037050 2023-09-20
3     0.988262  0.023547  0.209277       0   0.508772     0.002104 2023-01-11
4     0.764757  0.657960  0.410629       1   0.052632     0.019099 2023-06-13
5     0.576528  0.740904  0.047007       1   0.929825     0.031430 2023-08-24

   Merchant_Name  Category       Age     Month  Year
0       0.838761       0.2  0.052632  0.333333  2023
2       0.849377       0.0  0.421053  0.888889  2023
3       0.974425       0.2  0.491228  0.000000  2023
4       0.667440       0.4  0.947368  0.555556  2023
5       0.892378       0.2  0.070175  0.777778  2023

In [23]:
# Rescale the 'Year' values to a range between 0 and 1
data['Normalized_Year'] = scaler.fit_transform(data['Year'].values.reshape(-1, 1))
# Replace the 'Year' column with the normalized values
data['Year'] = data['Normalized_Year']
# Drop the intermediate column if needed
data.drop(columns=['Normalized_Year'], inplace=True)
# Display the updated DataFrame with replaced 'Year' column
print(data.head())

   Customer_ID      Name   Surname  Gender  Birthdate  Transaction       Date  \
0     0.752853  0.569857  0.306236       1   0.947368     0.010171 2023-04-03
2     0.305430  0.015687  0.053449       0   0.578947     0.037050 2023-09-20
3     0.988262  0.023547  0.209277       0   0.508772     0.002104 2023-01-11
4     0.764757  0.657960  0.410629       1   0.052632     0.019099 2023-06-13
5     0.576528  0.740904  0.047007       1   0.929825     0.031430 2023-08-24

   Merchant_Name  Category       Age     Month  Year
0       0.838761       0.2  0.052632  0.333333   0.0
2       0.849377       0.0  0.421053  0.888889   0.0
3       0.974425       0.2  0.491228  0.000000   0.0
4       0.667440       0.4  0.947368  0.555556   0.0
5       0.892378       0.2  0.070175  0.777778   0.0

In [24]:
# Drop the 'Date' column
data.drop(columns=['Date', 'Customer_ID', 'Name', 'Surname', 'Birthdate'], inplace=True)
# Display the updated DataFrame without the 'Date' column
print(data.head())

   Gender  Transaction  Merchant_Name  Category       Age     Month  Year
0       1     0.010171       0.838761       0.2  0.052632  0.333333   0.0
2       0     0.037050       0.849377       0.0  0.421053  0.888889   0.0
3       0     0.002104       0.974425       0.2  0.491228  0.000000   0.0
4       1     0.019099       0.667440       0.4  0.947368  0.555556   0.0
5       1     0.031430       0.892378       0.2  0.070175  0.777778   0.0

In [25]:
# Save the DataFrame with normalized data to a new CSV file
data.to_csv('normalized_data.csv', index=False)